.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; /* Change the background color as needed */
    color: #000; /* Change the text color as needed */
  }
  
  .logo img {
    height: 50px; /* Adjust the height of your logo */
  }
  
  .nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px; /* Adjust the spacing between navigation items */
  }
  
  .nav ul li {
    font-size: 18px; /* Adjust the font size as needed */
  }
  
  .nav ul li a {
    text-decoration: none;
    
    color: #000; /* Change the link text color as needed */
    transition: color 0.3s; /* Add a smooth color transition on hover */
  }
  
  .nav ul li a:hover {
    color: #ff5733; /* Change the color to your desired hover color */
    /* Add underline on hover */
  }
  